version: '3.9'

services:
  gateway:
    build: ./gateway
    ports:
      - "3000:3000"
    depends_on:
      - products-service
      - orders-service

  products-service:
    build: ./products-service
    ports:
      - "4001:4001"

  orders-service:
    build: ./orders-service
    ports:
      - "4002:4002"

